$image-circle-size: 60px !default;

.image-circle {
  width: $image-circle-size;
  height: $image-circle-size;
  display: inline-block;
  text-align: center;
  color: $white;
  clip-path: circle(50%);
  line-height: $image-circle-size;
  margin: 1em .3em;
}
