.nav-toggle {
  justify-self: flex-end;
  cursor: pointer;

  @include breakpoint($bp-nav-big) {
    display: none;
  }

  &__icon {
    @include burger(25px, 3px, 5px, $dark-gray);

    .nav-toggle--active & {
      @include burger-to-cross;
    }
  }

  &--mobile {
    padding: 2.5rem 0 1rem;
    margin-right: 2rem;
    grid-row: 1;
    grid-column: 1;
    align-self: end;
  }
}
