<section class="section-highlight section-highlight--alt">
  <div class="l-container">
    <header class="l-vertical-space">
      <div class="u-centered">
        <h1>Latest News</h1>
        <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </header>
    {{content}}
  </div>
</section>
