{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'intro__image'
  ]
%}
<div {{ attributes.addClass(classes) }}>
  {{ title_suffix }}
  {{content.field_image}}
  {{ content|without('field_image') }}
</div>