{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'button--centered',
  ]
%}
<div {{ attributes.addClass(classes) }}>
  {{ title_suffix }}
  <a href="#" class="button">{{ content.field_button_primary.0['#title'] }}</a>
  {{ content|without('field_button_primary') }}
</div>
